/* ==========================================================================
Forms adapted from Twitter Bootstrap
https://github.com/twitter/bootstrap/
========================================================================== */

// GENERAL STYLES
// --------------

// Make all forms have space below them
form {
  margin: 0 0 $lineHeight;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

// Groups of fields with labels on top (legends)
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $lineHeight * 1.5;
  font-size: $baseFontSize * 1.5;
  line-height: $lineHeight * 2;
  color: $grayDark;
  border: 0;
  border-bottom: 1px solid $grayLighter;

  // Small
  small {
    font-size: $lineHeight * .75;
    color: $grayLight;
  }
}

// Set font for forms
label,
input,
button,
select,
textarea {
  font-size: $baseFontSize;
  font-weight: normal;
  line-height: $lineHeight;
}
input,
button,
select,
textarea {
  font-family: $textFontFamily;
}

// Identify controls by their labels
label {
  display: block;
  margin-bottom: 5px;
  color: $grayDark;
}

// Inputs, Textareas, Selects
input,
textarea,
select,
.uneditable-input {
  @include inline-block();
  height: $lineHeight;
  padding: 4px;
  margin-bottom: 9px;
  font-size: $baseFontSize;
  line-height: $lineHeight;
  color: $gray;
  border: 1px solid $grayLight;
  @include border-radius(3px);
}
.uneditable-textarea {
  width: auto;
  height: auto;
}

// Inputs within a label
label input,
label textarea,
label select {
  display: block;
}

// Mini reset for unique input types
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0; /* IE7 */
  line-height: normal;
  cursor: pointer;
  @include border-radius(0);
  border: 0 \9; /* IE9 and down */
}
input[type="image"] {
  border: 0;
}

// Reset the file input to browser defaults
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: $white;
  background-color: initial;
  @include box-shadow(none);
}

// Help out input buttons
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
}

// Set the height of select and file controls to match text inputs
select,
input[type="file"] {
  height: 28px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px; /* For IE7, add top margin to align select with labels */
  line-height: 28px;
}

// Reset line-height for IE
input[type="file"] {
  line-height: 18px \9;
}

// Chrome on Linux and Mobile Safari need background-color
select {
  background-color: $white;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Remove shadow from image inputs
input[type="image"] {
  @include box-shadow(none);
}

// Make textarea height behave
textarea {
  height: auto;
}

// Hidden inputs
input[type="hidden"] {
  display: none;
}



// FOCUS STATE
// -----------

input,
textarea {
  @include box-shadow(inset 0 1px 1px rgba($black, 0.075));
  @include transition(border linear .2s, box-shadow linear .2s);
}
input:focus,
textarea:focus {
  border-color: rgba($blue, 0.8);
  @include box-shadow(inset 0 1px 1px rgba($black, 0.075), 0 0 8px rgba($blue, 0.6));
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  @include box-shadow(none); // override for file inputs
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


// DISABLED STATE
// --------------

// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: $grayLightest;
  border-color: $grayLighter;
  cursor: not-allowed;
}


// HTML5 invalid states
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: $red;
  border-color: lighten($red, 15%);
  &:focus {
    border-color: $red;
    @include box-shadow(0 0 6px lighten($red, 50%));
  }
}
